<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:c="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>

  </div>
    <div class="Block">
      <div><span class="title">Company name:</span><input class="input" /></div>
      <div>
        <span class="title">Located country:</span><input class="input" />
      </div>
      <button class="mainButton"><a href="main_page.html">Save</a></button>
    </div>
  </body>
</html>
