<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="Block">
      <div style="display: flex; padding-left: 60px">
        <div>
          <div class="title">Course name:</div>
          <div class="title">Add Instructor id:</div>
          <div class="title">Add group id:</div>
        </div>

        <div style="margin-top: 30px">
          <div><input class="input" /></div>
          <div><input class="input" /></div>
          <div><input class="input" /></div>
        </div>
      </div>

      <button class="mainButton"><a href="company.html">Save</a></button>
    </div>
  </body>
</html>
