<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="Block">
      <div class="Block-title">PeakSoft</div>
      <div style="font-size: 25px">Courses:</div>
      <div>
        <div>
          JAVA1<button class="button">update</button>
          <button class="button">delete</button>
        </div>
        <div>
          JAVA1<button class="button">update</button>
          <button class="button">delete</button>
        </div>
        <button class="mainButtonCompany">
          <a href="./addCourse.html">Add new</a>
        </button>
      </div>
      <div style="font-size: 25px">Groups:</div>
      <div>
        <div>
          JavaBatch4<button class="button">update</button>
          <button class="button">delete</button>
        </div>
        <div>
          JavaBatch5<button class="button">update</button>
          <button class="button">delete</button>
        </div>
        <button class="mainButtonCompany">
          <a href="./addGroup.html">Add new</a>
        </button>
      </div>
      <div style="font-size: 25px">Instructors:</div>
      <div>
        <div>
          Zamir Sabyr<button class="button">update</button>
          <button class="button">delete</button>
        </div>
        <div>
          Chyngyz Sh<button class="button">update</button>
          <button class="button">delete</button>
        </div>
        <button class="mainButtonCompany">
          <a href="./addInstructor.html">Add new</a>
        </button>
      </div>
      <a href="main_page.html" style="text-decoration: none">back to main page</a>
    </div>
  </body>
</html>
